@import '../../../assets/theme/color';

.seat{
    margin-top: 2%;
    margin-bottom: 5%;
    background-color: $color-lighttheme;
    padding-top: 1%;
    padding-left: 1%;

    &__title{
        color: $color-secondary;
        font-size: 15px;
        padding-bottom: 3%;
    }

    &__labeltext{
        color: $color-secondary;
        font-size: 13px;
    }

    &__input{
        background-color: $color-theme !important;
        border-color: $color-theme !important;
        opacity: 1;
    }

    &__btnrow{
        margin-bottom: 5%;
    }

    &__btn{
        background-color: $color-quaderty !important;
        border-color: $color-quaderty !important;
        border-radius: 4px !important;
        opacity: 1;
    }
}